[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "packageDiff"]
	path = packageDiff
	url = https://github.com/couthcommander/packagediff
	shallow = true
	registered = true
