[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nbpMatching"]
	path = nbpMatching
	url = https://github.com/couthcommander/nbpmatching
[submodule "packageDiff"]
	path = packageDiff
	url = https://github.com/couthcommander/packagediff
[submodule "pkdata"]
	path = pkdata
	url = https://github.com/couthcommander/pkdata
